//Fonts
//************************
$nunito: 'Nunito Sans', sans-serif;
$montserrat: 'Montserrat medium', sans-serif;
$icon: Pe-icon-7-stroke;
$work-sans: 'Work Sans', sans-serif;

//Width
//*************************
$max-width: 1170px;

//Colors
//****************************
$white: #fff;
$black: #000;
$emperor: #191919;
$java: #10c9c3;
$cod-gray: #1d1d1d;
$cod: #171717;
$boulder: #787878;
$caze: #f8f9f9;
$alto: #d8d8d8;
$sand: #f5f5f5;
$gray: #8e8e8e;
$dove: #656565;
$dark-gray: #141414;
$silver: #bcbcbc;

